@model Category
@{
    ViewData["Title"] = "Delete Catgory";
}

<div class="w-75 m-auto">
    <h2>
        Delete Category
    </h2>
    <div class="w-75">
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="d-flex flex-column">
                <label asp-for="Name" class="py-2 ps-3"></label>
                <input asp-for="Name" disabled class="  bg-light ps-4 p-2 rounded-pill form-control" />
            </div>
            <div class="d-flex flex-column">
                <label asp-for="DisplayOrder" class="py-2 ps-3"></label>
                <input asp-for="DisplayOrder" disabled class="  bg-light ps-4 p-2 rounded-pill form-control" /> 
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <button type="submit" class="btn mt-4 btn-primary text-white rounded-3">
                    Delete
                </button>
                <a asp-action="Index" asp-controller="category" class="mt-5 ms-2 text-lg-start">
                    Back To List
                </a>
            </div>
        </form>
    </div>
</div>

@*client side Validation*@
@section Scripts
    {
    <partial name="_validationScriptsPartial" />
                }