@model List<Category>
@{
    ViewData["Title"] = "Catgory";
}


<div class="container">
    <div class="row pt-4">
        <div class="col">
            <h1>
                Category List
            </h1>
        </div>
        <div class="col text-end">
            <a asp-controller="Category" asp-action="create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add Category
            </a>
        </div>
    </div>
    <table class="table text-center table-bordered w-full table-striped">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Order
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(x => x.DisplayOrder))
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.DisplayOrder
                    </td>
                    <td class="d-flex m-auto justify-content-center align-items-center text-center gap-5">
                        <div>
                            <a class="btn btn-primary" asp-controller="Category" asp-route-id="@item.Id" asp-action="Edit">
                                Edit
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-danger" asp-controller="Category" asp-route-id="@item.Id" asp-action="Delete">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
